black
# camelot-py[base]  # not compatible oob w/ windows (#todo:)
# gdown    # for downloading files from google drive (#todo:)
fastapi
fastparquet
loguru
pandas
plotly
python-dotenv
PyPDF2
requests
streamlit
uvicorn